.singleGroup-top-half-main {
    display: flex;
}

.singleGroup-button {
    background-color: red;
    color: white;
}

.singleGroup-button-holder > button {
    background-color: darkgray ;
    color: white;
}

.singleGroup-top-half-left-img {
    width: 200px;
}
