.EventsLayout {
    cursor: pointer;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
}

.EventsLayout-top-half {
    display: flex;
}

.everyEvent-layout{
   border-top: solid black 2px;
   cursor: pointer;
}

.EventLayout-img-real {
    width: 250px;
    height: 150px;
}

.eventLayout-main {
    padding: 10px;
}

.EventsLayout-top-half-text {
    margin-left: 10px;
}

.EventsLayout-bottom-half {
    margin-top: 10px;
}
