.events-main {
  background-color: lightgray;
}

#Dark .events-main {
  background-color: black;
}

#Dark .everyEvent-layout {
  border-top: #a4e0fa solid 1px;
}

.events-main {
  padding: 20px 40px;
}
