.hidden {
    display: none;
}

.navigation-logo.active {
    color: orange;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

.startGroup {
    font-size: 15px;
}

.startGroup.active {
    font-size: 15px;
}

.navigation-logo {
    color: orange;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.navigation-right{
    display: flex;
    align-content: center;
}

.navigation-button-holder > button {
   border: none;
   background: white;
}

.navigation-button-holder{
    display: flex;
    align-content: center;
}

.startGroup {
    text-decoration: none;
    padding: 10px;
}

.profile-button {
    font-size: 20px;
    margin: 5px;
}

.profile-dropdown > li {
   list-style-type: none;
}

.profile-dropdown {
    border: 2px solid black;
    text-align: center;
    padding: 5px 15px;
    position: absolute;
    right: 10px;
    background-color: white;
}

.profile-log-out-button-holder > button {
   background-color: white;
   border: none;
}

.profile-log-out-button-holder {
    border-top: 2px solid black;
}

.profile-link-holders > a {
    text-decoration: none;
    color: black;
}

.profile-user-email {
    border-bottom: 2px solid black;
}
