.hidden {
  display: none;
}

.navigation-logo.active {
  text-decoration: none;
  font-size: 30px;
  padding: 0 10px;
}

#light .navigation-logo {
  color: orangered;
}

#Dark .startGroup {
  color: #a4e0fa;
}

.startGroup {
  font-size: 15px;
}

.startGroup.active {
  font-size: 15px;
}

#Dark .navigation-logo {
  color: #a4e0fa;
}

.navigation-logo {
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#Dark .navigation {
  border-bottom: 2px solid #2f58cd;
}

#light .navigation {
  border-bottom: 2px solid black;
}

.navigation-right {
  display: flex;
  align-items: center;
}

.profile-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 5px;
}

.navigation-button-holder > button {
  border: none;
  background: white;
}

.navigation-button-holder {
  display: flex;
  align-content: center;
}

.startGroup {
  text-decoration: none;
  padding: 10px;
}

.profile-button {
  font-size: 20px;
  margin: 5px;
}

#Dark .profile-dropdown {
  background-color: #01173a;
  border: 1px solid #0b477e;
}

#Dark .profile-dropdown > div {
  color: #a4e0fa;
}

.profile-dropdown {
  border: 2px solid black;
  text-align: center;
  padding: 5px 15px;
  position: absolute;
  right: 10px;
  background-color: white;
  border-radius: 10px;
}

.profile-log-out-button-holder > button {
  background-color: white;
  border: none;
}

.profile-log-out-button-holder {
  border-top: 2px solid black;
}

.profile-link-holders > a {
  text-decoration: none;
  color: #a4e0fa;
}

.profile-user-email {
  border-bottom: 2px solid black;
}

.navifation-logo-search-wrapper {
  display: flex;
  align-items: center;
}

#Dark .navigation-button-holder > button {
  background-color: #1a1c25;
  color: #a4e0fa;
}

#Dark .navigation-button-holder > button:hover {
  cursor: pointer;
}
