.hidden {
    display: none;
}

.logo {
    color: orange;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation-right{
    display: flex;
}

.startGroup {
    text-decoration: none;
}
